@import './common';
@import './example';


.search-form {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}


.gallery {
display: flex;
flex-wrap: wrap;
gap:30px;
align-items: center;
margin-top: 20px;
margin-bottom: 20px;
background-color: gray;
}

.photo-card > a > img {
margin-left: auto;
margin-right: auto;
align-items: center;
height: 100%;
width: 100%;
transition: transform, 400ms, scale;
}
.photo-card>a>img:hover {
    transform: scale(1.1);
}

.photo-card {
justify-content: space-between;

}

.gallery > div {
width: calc((100% - 90px)/4);
height: auto;
}

.info {
    display: flex;
    gap:20px;
    justify-content: center;
    background-color: beige;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-item > a {
    margin-left: auto;
    margin-right: auto;
 
}